{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Add Category</h2>
    <form action="{% url 'categories' %}" method="post">
        {% csrf_token %}
        <h2 class="alert">{{ message }}</h2>
        {{ form }}
        <input type="submit", value="Submit">
    </form>
    <h2>View By Category</h2> 
    {% for each in category %}
        {{ each.title }}
        <div>
            {% for x in each.listings %}
                {% if x.active == True %}
                    <h4> {{ x.title }} </h4>
                    <image src="media/{{ x.image }}">
                {% endif %}
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}