{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for each in all_listings%}
        {% if each.active == False %}
            <div style="border-style: inset;"> 
                <h2 style="text-align: center;">{{each.title}}</h2>
                <h5>{{each.description}}</h5>
                <h5>${{each.startingBid|floatformat:2}}</h5>
                <a href="{% url 'listing' each.id%}">View Listing</a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}